body {
    background: #ddd;
    background-image: url(../img/examimg.jpg);
}

#Header {
    #TOPMenu {
        @include top-menu;
        position: static !important;
        background: $mainSecond;
    }
    #panel {
        .panel-left {
            .panelBalance {
                margin: 50px 0;
                background: $mainSecond;
                min-height: 150px;
                opacity: .5;
                color: $white;
                min-width: 200px;
                max-width: 250px;

                // clip-path: polygon(25% 0%, 75% 0%, 95% 100%, 4% 100%);
                span {
                    display: block;
                    border-bottom: 1px solid $white;
                    text-align: center;
                    padding: 20px 0;
                    font-size: 16px;
                    box-shadow: 15px 5px 40px #ccc;
                    &:nth-child(2) {}
                }
            }
            .panelNext{
                margin-left: 15px;
            }
            .startEx {
                padding: 14px;
                font-size: 15px;
                border-radius: 10px;
                background: #199ED8;
                border: none;
                margin-bottom: 15px;
            }
            .growBalance {
                padding: 14px;
                font-size: 15px;
                border-radius: 10px;
                background: $mainOrange;
                border: none;
            }
        }
        h2 {
            padding: 25px 0;
        }
        .iconDown {
            padding: 10px;
            border-radius: 100%;
            width: 20%;
            line-height: 100%;
            transform: translate(0, -50%);
            position: absolute;
            left: 40%;
            top: 50%;
            z-index: 300;
            opacity: 1;
            color: #ddd;
            text-align: center;
            background: tomato;
            opacity: .8;
            box-shadow: 3px 3px 40px #ddd;
        }
        .allDown {
            position: absolute;
            top: 0;
            z-index: 1;
            left: 0;
            width: 100%;
            min-height: 300px;
            right: 0;
            bottom: 0;
            opacity: .3;
            background: $blue;
        }
        .dropSlide {
            width: 100%;
            min-height: 300px;
            background: $mediumgray;
            opacity: .5;
            color: $white;
            z-index: 10;
            position: relative;
            h4 {
                margin: 0;
                padding: 10px 10px;
            }
    
            // padding-left:100px; 
        }
        .panel-right{
              .panel-right {
                .owl-nav {
                    .owl-prev {
                        min-height: 300px;
                        position: absolute;
                        min-width: 50px;
                        top: 0;
                        left: 0;
                        z-index: 10000;
                        background: $lightgray;
                        opacity: 0;
                        text-align: center;
                        &:hover {
                            opacity: .3;
                        }
                    }
                    .owl-next {
                        min-height: 300px;
                        position: absolute;
                        min-width: 50px;
                        top: 0;
                        right: 0;
                        z-index: 10000;
                        background: $lightgray;
                        opacity: 0;
                        text-align: center;
                        &:hover {
                            opacity: .3;
                        }
                    }
                    i {
                        line-height: 300px;
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                    }
                }
                // padding-left:100px; 
            }
        }
    }
    .mainResult {
        padding-top: 55px;
    }
    .examResult {
        background: $white;
        margin: 30px 0;
        .mainTable {
            thead {
                background: $mainSecond;
                padding: 15px 0;
                color: $white;
                font-style: 12px;
            }
        }
    }
}
