@import "variables";

/*Top Menu*/

@mixin top-menu {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 0;
    .nav {
        float: right;
        ul {
            padding: 0;
            li {
                cursor: pointer;
                list-style: none;
                float: left;
                padding: 10px 0;
                margin-right: 30px;
                font-size: 18px;
                a {
                    padding: 10px 0;
                    color: $white;
                    text-decoration: none;
                    &:after {
                        content: '';
                        display: block;
                        margin:auto;
                        padding: 1px;
                        width: 0%;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                    }
                    &:hover:after {
                        width: 100%;
                        background: #D38947;
                    }
                }
                i {
                    color: white;
                    font-size: 16px;
                }
            }
        }
    }
}


/* end Top Menu*/


/*MainFont*/

@mixin mainFont {
    body,
    html {
        @font-face {
            font-family: 't';
            src: url(font/latest_fonts/t-webfont.eot);
            src: url(font/latest_fonts/t-webfontd41d.eot?#iefix) format('embedded-opentype'), url(font/latest_fonts/t-webfont.html) format('woff2'), url(font/latest_fonts/t-webfont.woff) format('woff'), url(font/latest_fonts/t-webfont.ttf) format('truetype');
            font-weight: 400;
            font-style: normal
        }
        html,
        body {
            font-family: 't';
            transition: all .3s ease;
        }
    }
}


/* end MainFont*/


/**/

@mixin panel-All {
    background: #ccc;
    opacity: .75;
    h2 {
        line-height: 20px;
        font-size: 1.5em;
        color: #333;
        padding-bottom: 5px;
    }
    p {
        font-size: 1.2em;
        color: $gray;
        padding-bottom: 10px;
    }
}


/**/

.c {
    z-index: 800;
    position: absolute;
    top: 0px;
    color: red;
    padding: 20px;
}
