/*Top Menu*/
/* end Top Menu*/
/*MainFont*/
/* end MainFont*/
/**/
/**/
.c {
  z-index: 800;
  position: absolute;
  top: 0px;
  color: red;
  padding: 20px; }

@font-face {
  body,
  html {
    font-family: 't';
    src: url(font/latest_fonts/t-webfont.eot);
    src: url(font/latest_fonts/t-webfontd41d.eot?#iefix) format("embedded-opentype"), url(font/latest_fonts/t-webfont.html) format("woff2"), url(font/latest_fonts/t-webfont.woff) format("woff"), url(font/latest_fonts/t-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal; } }
body html,
body body,
html html,
html body {
  font-family: 't';
  transition: all .3s ease; }

.TopMenu {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0; }
  .TopMenu .nav {
    float: right; }
    .TopMenu .nav ul {
      padding: 0; }
      .TopMenu .nav ul li {
        cursor: pointer;
        list-style: none;
        float: left;
        padding: 10px 0;
        margin-right: 30px;
        font-size: 18px; }
        .TopMenu .nav ul li a {
          padding: 10px 0;
          color: #fff;
          text-decoration: none; }
          .TopMenu .nav ul li a:after {
            content: '';
            display: block;
            margin: auto;
            padding: 1px;
            width: 0%;
            background: transparent;
            transition: width .5s ease, background-color .5s ease; }
          .TopMenu .nav ul li a:hover:after {
            width: 100%;
            background: #D38947; }
        .TopMenu .nav ul li i {
          color: white;
          font-size: 16px; }

.mainModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  background: #595AB7;
  opacity: .4;
  z-index: 5; }

.arrow {
  width: 60px;
  z-index: 200;
  height: 82px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  cursor: pointer;
  bottom: 20px; }

/* sets arrow style */
.arrow path {
  stroke: #eaae23;
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 1.8s infinite;
  -webkit-animation: arrow 1.8s infinite; }

@keyframes arrow {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.arrow path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; }

.arrow path.a2 {
  animation-delay: -.5s;
  -webkit-animation-delay: -.5s; }

.arrow path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; }

/**/
/*Content*/
.content {
  background: #ddd;
  background-image: url(../img/img1.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0; }
  .content .content-middle {
    z-index: 200;
    position: relative;
    top: 200px;
    color: #fff; }
    .content .content-middle .tlt {
      margin: 70px 0; }
    .content .content-middle a {
      color: #fff;
      padding: 15px 20px;
      text-decoration: none; }
    .content .content-middle .btnSave {
      padding: 12px 5px;
      border-radius: 8px;
      font-size: 16px;
      border: none;
      z-index: 280;
      background: #eaae23; }
  .content .imgPrev,
  .content .imgNext {
    display: none;
    opacity: 0;
    position: absolute;
    height: 100vh;
    z-index: 250;
    width: 50px;
    float: left;
    top: 0;
    bottom: 0; }
    .content .imgPrev i,
    .content .imgNext i {
      cursor: pointer;
      position: relative;
      top: 50%;
      left: 25%;
      text-align: center;
      font-size: 2.8em;
      color: #fff; }
  .content .imgPrev {
    left: 0; }
  .content .imgNext {
    right: 0; }

/*end Content*/
body {
  background: #ddd;
  background-image: url(../img/examimg.jpg); }

#Header #TOPMenu {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  position: static !important;
  background: #2D3E50; }
  #Header #TOPMenu .nav {
    float: right; }
    #Header #TOPMenu .nav ul {
      padding: 0; }
      #Header #TOPMenu .nav ul li {
        cursor: pointer;
        list-style: none;
        float: left;
        padding: 10px 0;
        margin-right: 30px;
        font-size: 18px; }
        #Header #TOPMenu .nav ul li a {
          padding: 10px 0;
          color: #fff;
          text-decoration: none; }
          #Header #TOPMenu .nav ul li a:after {
            content: '';
            display: block;
            margin: auto;
            padding: 1px;
            width: 0%;
            background: transparent;
            transition: width .5s ease, background-color .5s ease; }
          #Header #TOPMenu .nav ul li a:hover:after {
            width: 100%;
            background: #D38947; }
        #Header #TOPMenu .nav ul li i {
          color: white;
          font-size: 16px; }
#Header #panel .panel-left .panelBalance {
  margin: 50px 0;
  background: #2D3E50;
  min-height: 150px;
  opacity: .5;
  color: #fff;
  min-width: 200px;
  max-width: 250px; }
  #Header #panel .panel-left .panelBalance span {
    display: block;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    box-shadow: 15px 5px 40px #ccc; }
#Header #panel .panel-left .panelNext {
  margin-left: 15px; }
#Header #panel .panel-left .startEx {
  padding: 14px;
  font-size: 15px;
  border-radius: 10px;
  background: #199ED8;
  border: none;
  margin-bottom: 15px; }
#Header #panel .panel-left .growBalance {
  padding: 14px;
  font-size: 15px;
  border-radius: 10px;
  background: #eaae23;
  border: none; }
#Header #panel h2 {
  padding: 25px 0; }
#Header #panel .iconDown {
  padding: 10px;
  border-radius: 100%;
  width: 20%;
  line-height: 100%;
  transform: translate(0, -50%);
  position: absolute;
  left: 40%;
  top: 50%;
  z-index: 300;
  opacity: 1;
  color: #ddd;
  text-align: center;
  background: tomato;
  opacity: .8;
  box-shadow: 3px 3px 40px #ddd; }
#Header #panel .allDown {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  min-height: 300px;
  right: 0;
  bottom: 0;
  opacity: .3;
  background: #2176C7; }
#Header #panel .dropSlide {
  width: 100%;
  min-height: 300px;
  background: #536870;
  opacity: .5;
  color: #fff;
  z-index: 10;
  position: relative; }
  #Header #panel .dropSlide h4 {
    margin: 0;
    padding: 10px 10px; }
#Header #panel .panel-right .panel-right .owl-nav .owl-prev {
  min-height: 300px;
  position: absolute;
  min-width: 50px;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #819090;
  opacity: 0;
  text-align: center; }
  #Header #panel .panel-right .panel-right .owl-nav .owl-prev:hover {
    opacity: .3; }
#Header #panel .panel-right .panel-right .owl-nav .owl-next {
  min-height: 300px;
  position: absolute;
  min-width: 50px;
  top: 0;
  right: 0;
  z-index: 10000;
  background: #819090;
  opacity: 0;
  text-align: center; }
  #Header #panel .panel-right .panel-right .owl-nav .owl-next:hover {
    opacity: .3; }
#Header #panel .panel-right .panel-right .owl-nav i {
  line-height: 300px;
  font-size: 18px;
  font-weight: bold;
  color: #fff; }
#Header .mainResult {
  padding-top: 55px; }
#Header .examResult {
  background: #fff;
  margin: 30px 0; }
  #Header .examResult .mainTable thead {
    background: #2D3E50;
    padding: 15px 0;
    color: #fff;
    font-style: 12px; }

.panelRegister {
  background: #ddd;
  background-image: url(../img/regImg.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0; }
  .panelRegister .registerModal {
    position: relative;
    padding-top: 10%;
    z-index: 20; }
    .panelRegister .registerModal .panelLeft {
      background: #ccc;
      opacity: .75; }
      .panelRegister .registerModal .panelLeft h2 {
        line-height: 20px;
        font-size: 1.5em;
        color: #333;
        padding-bottom: 5px; }
      .panelRegister .registerModal .panelLeft p {
        font-size: 1.2em;
        color: #708284;
        padding-bottom: 10px; }
      .panelRegister .registerModal .panelLeft .orlogin {
        padding: 5px 0;
        text-align: center; }
        .panelRegister .registerModal .panelLeft .orlogin p {
          color: #333;
          font-size: 1.1em; }
      .panelRegister .registerModal .panelLeft .btn-facebook {
        background-color: #3b5998;
        color: #fff;
        opacity: .8;
        margin-bottom: 10px; }
      .panelRegister .registerModal .panelLeft .btn-facebook:hover {
        background-color: #246193;
        color: #fff; }
      .panelRegister .registerModal .panelLeft .btn-google {
        background-color: #c23321;
        opacity: .8;
        color: #fff;
        margin-bottom: 10px; }
      .panelRegister .registerModal .panelLeft .btn-google:hover {
        background-color: #fff;
        color: #c23321; }
    .panelRegister .registerModal .panelRight {
      background: #ccc;
      opacity: .75;
      position: relative;
      top: 50px; }
      .panelRegister .registerModal .panelRight h2 {
        line-height: 20px;
        font-size: 1.5em;
        color: #333;
        padding-bottom: 5px; }
      .panelRegister .registerModal .panelRight p {
        font-size: 1.2em;
        color: #708284;
        padding-bottom: 10px; }
    .panelRegister .registerModal .btnPanel {
      padding: 10px 0;
      color: #fff; }
    .panelRegister .registerModal .btnRegister {
      background: #eaae23; }

/*Panel Register*/
/*end Panel Register*/

/*# sourceMappingURL=Base.css.map */
